  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 JAN SMDHAN PORTAL | All Rights Reserved</p>
    <p> <h3><strong>POWERED BY  - the_evil_lord <strong></strong></h3></p>
  </footer>
</body>
</html>
